body {
  font-family: "Open Sans", sans-serif;
}
.logo {
  width: 40px;
  border: 0;
  text-indent: -99999px;
  animation: App-logo-spin infinite 20s linear;
  opacity: 0;
}

.navbar-brand {
  font-family: "Pacifico", cursive;
  letter-spacing: 3px;
}

.navbar-brand:hover .logo {
  opacity: 1;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar-nav .nav-item {
  margin-right: 1em;
}

.navbar-collapse {
  font-family: "Open Sans", sans-serif;
}

.nav-item a {
  border: 1px solid transparent;
}

.nav-item .nav-link:hover {
  border: cyan solid 1px;
  border-radius: 5%;
  color: white !important;
}

.top-content {
  background-image: url("./web-design-2906159.jpg");
  background-size: cover;
  background-position: center;
}

.top-content-intro-msg {
  color: white;
  padding-top: 20%;
}

.top-content-intro-msg-second {
  font-style: italic;
  padding-bottom: 10%;
}

@media (min-width: 769px) {
  .top-content-intro-msg > .top-content-intro-msg-first {
    color: white;
    font-size: 5em;
  }
}

@media (max-width: 768px) {
  .top-content-intro-msg > .top-content-intro-msg-second {
    color: white;
    font-size: 1.25em;
  }
}

@media (min-width: 769px) {
  .section-title {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
    font-size: 2.75em;
    margin: 1em;
  }
  .fa-3x {
    font-size: 4em;
  }
}

@media (max-width: 769px) {
  .section-title {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
    font-size: 1.75em;
    margin: 1em;
  }
  .front-end-skills > span {
    font-size: 1.1em;
  }
}

.front-end-skills > span {
  padding: 2em;
}
ul li {
  list-style: none;
}

.skills-list ul {
  display: inline-flex;
  padding: 0;
}

.skills-list ul li span {
  display: block;
}
.skills-list ul li {
  margin-right: 10px;
}


#skills {
  margin: 1em;
}

#responsive-design-icon {
  margin-top: 2px;
}
